body{
   
   background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main-container{
    margin-left:25%;
    
}
#username{
    padding-left: 20px;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 50px;
    text-shadow: 2px 2px red;
}
#userimage{
    float: right;
    border-radius: 100%;
}
#dummyhead{
    height: 10%;
}
#describeuser{
    padding-left: 20px;
    font-size: 20px;
    font-family: 'Bitter', serif;
}
#userhead{
    display: inline-block;

}
#main-header{
    padding-left: 25px;
    font-family: 'Bitter', serif;
    width:60%;
     background-color: black;
}
#links{
    text-decoration: none;
    color: white;
}
#links:hover{
    color:green;
}
#original-nav{
    height: 50px;
    width:300px;  
}
#main-content{
    padding-left: 25px;
    width:60%;
}
#aboutme{
    font-size:20px;
    font-family: 'Pacifico', cursive;
}
footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: black;
   text-align: center;
}